.reviewTemplates a:hover {
  text-decoration: none;
}

#newVersionIndicator {
  background: #e26262;
  color: #313131;
  width: 195px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0 0 5px 0;
  padding: 0 10px;
}

#newVersionIndicator:hover {
  text-decoration: initial;
  background: #eb6161;
}

#newVersionIndicator svg {
  top: 5px;
  right: 6px;
}

.CodeMirror {
  border: 1px solid #e6e6e6;
  resize: vertical;
  min-height: 300px;
}
